* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100vh; */
}

.content {
  margin: 0px auto;
  min-width: 380px;
}

h1 {
  margin-bottom: 15px;
  color: #faed26;
}

h2 {
  margin-bottom: 10px;
  color: white;
}

header {
  background-color: #46344e;
  color: #ddd9ce;
  padding: 20px 0;
}

.header-content {
  text-align: center;
  /* margin-bottom: 30px; */
}

.header-content p {
  text-align: center;
}

.header-figure {
  /* display: inline;
 */
}

.header-picture {
  margin: 20px auto;
  width: 40%;
}

.nav-content {
  text-align: center;
}

.nav-button {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  text-decoration: none;
  color: #ddd9ce;
  background-color: #9b786f;
  border-radius: 5px;
}

.nav-button:hover {
  color: black;
  background-color: #ddd9ce;
}

main {
  padding: 20px;
  background-color: #5a5560;
  color: #ddd9ce;
}

.coffee-description {
  /* display: inline-block;
    text-align: left;
        padding: 20px;
    width: 25%;
    height: 100%;
    margin-right: 0px;
    vertical-align: top; */
  width: 30%;
  float: left;
  padding: 20px;
  margin-right: 20px;
}

.coffee-description p {
  text-align: justify;
}

#main-products {
  display: inline-block;
  text-align: right;
  max-width: 50%;
}

.title-products {
  margin-right: 20px;
}

.first-row-content {
  display: inline;
}

.second-row-content {
  display: inline;
}

.product-content {
  display: inline-block;
  margin: 0 20px 20px 0;
}

.product-content img {
  width: 200px;
  height: 200px;
}

#event {
  /* margin: 0 auto; */
  width: 500px;
  display: inline-block;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.event-table > th,
td {
  border: 1px solid #ddd9ce;
  padding: 0.5rem;
  text-align: center;
}

#form-content {
  /* margin: 0 auto; */
  float: right;
}

.form-inputs {
  margin-bottom: 20px;
}

.form-inputs input {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #5a5560;
  color: #9d8d8f;
}

.form-inputs label {
  display: block;
  margin-bottom: 5px;
}

.form-area-input {
  display: block;
  margin-bottom: 5px;
}

.form-area-input label {
  display: block;
  margin-bottom: 5px;
}

form textarea {
  width: 250px;
  height: 150px;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #5a5560;
  color: #9d8d8f;
  resize: none;
}

.submit-form-button {
  background-color: #555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-form-button:hover {
  background-color: #333;
}

footer {
  background-color: #46344e;
  color: white;
  padding: 20px;
  text-align: center;
}
